:root {
  --color-primary: #2584ff;
  --color-secondary: #00d9ff;
  --color-accent: #ff3400;
  --color-headings: #1b0760;
  --color-body: #918ca4;
}

html {
  /* (62.5% of 16px) == 10px == 1rem */
  font-size: 62.5%;
}

body {
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  color: var(--color-body);
  text-align: center;
}

h1,
h2,
h3 {
  color: var(--color-headings);
}

h1 {
  font-size: 2.8rem;
}

h2 {
  font-size: 2.4rem;
}

h3 {
  font-size: 2.0rem;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem 0;
}

nav>i {
  font-size: 3rem;
}

.nav__logo {
  width: 4rem;
}

header {
  background-color: #fff;
  background-image: url(/assets/images/frank-mckenna-eXHeq48Z-Q4-unsplash.webp);
  background-size: auto;
}

/* media queries do not take font size from the html element,
16px == 1em and not 62.5% == 10px == 1em */
/* breakpoint for tablets 2 column at 500px == font size standard 16px == 31.5em */
@media screen and (min-width: 31.5em) {
  body {
    font-size: 1.8rem;
    background-color: #ff3400;
  }

  h1 {
    font-size: 8rem;
  }

  h2 {
    font-size: 4rem;
  }

  h3 {
    font-size: 2.4rem;
  }
}

/* media queries do not take font size from the html element,
16px == 1em and not 62.5% == 10px == 1em */
/* breakpoint for desktop 3 column at 1020px == font size standard 16px == 63.75em */
@media screen and (min-width: 63.75em) {
  body {
    font-size: 1.8rem;
    background-color: yellow;
  }

  h1 {
    font-size: 8rem;
  }

  h2 {
    font-size: 4rem;
  }

  h3 {
    font-size: 2.4rem;
  }
}