/* >>> start normalize browser default display on all types of browsers */
HTML, body {
    margin: 0px;
    padding: 0px;
      border: 0px;
    }
/* <<< end normalize browser default display on all types of browsers */