/* color palette #eb6424 #067bc2 #e3f2fd #ffe45e #b68cB8*/
:root {
  --color-button: #EB6424;
  --color-button-selected: #B68CB8;
  --color-button-text: #E3F2FD;
  --color-headings: #EB6424;
  --color-text-secondary: #000;
  --color-text: #067BC2;
}

html {
  /* (62.5% of 16px) == 10px == 1rem */
  font-size: 62.5%;
}

/* default font, color, size, alignment */
body {
  background: rgb(235, 100, 36);
  background: linear-gradient(180deg, rgba(235, 100, 36, 1) 16%, rgba(255, 228, 94, 1) 100%);
  color: var(--color-text);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  text-align: center;
}

h1,
h2,
h3 {
  color: var(--color-headings);
}

h1 {
  font-size: 3.5rem;
  margin: -1rem 0 0 0;
  padding-top: 7rem;
}

h2 {
  font-size: 2.4rem;
  font-variant: small-caps;
  text-transform: capitalize;
}

h3 {
  font-size: 1.8rem;
  font-style: italic;
  letter-spacing: 0.1rem;
  margin-bottom: 1rem;
  text-decoration-style: double;
  text-decoration: underline;
}

p {
  color: var(--color-text);
  margin: 2rem 5%;
  width: 90%;
}

/* >>> start nav bar */
/* makes navbar element stick to parent (body) and positions it */
.nav-bar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 10;
}

/* remove bullets from list elements in nav bar */
.nav-bar__list {
  list-style: none;
}

/* removes the "hamburger" menu", click event showHamburger triggers JavaScript "dropdown_menu"
to show menu, its position is define in this css rule-set */
.nav-bar__hamburger {
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  display: none;
  overflow: auto;
  padding: 0;
  position: absolute;
  right: 1rem;
  top: 5rem;
  z-index: 2;
}

/* JavaScript => dropdown_menu, toggles between hiding and showing the "hamburger" menu,
rules which are defined hire will be applied to the nav-bar__hamburger rule set when
click event showHamburger is triggered */
.show {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 30rem;
}

/* home button to flow left on mobile first, background image can show behind,
button is removed on wider view (.hide-desktop)*/
.float-left--mobile-first {
  float: left;
}

/* float right, background image can show behind */
.float-right {
  float: right;
}

/* <<< end nav bar */

/* >>> start header */
/* 1st value is logo, 2nd value is background, if values not separated by "," than they apply to both*/
.header {
  background-color: var(--color-button-text);
  background-image: url(../images/icons/weekend-breaker_logo_icon.png), url(../images/frank-mckenna-eXHeq48Z-Q4-unsplash.webp);
  background-position: center top 2rem, center;
  background-repeat: no-repeat;
  background-size: 6rem, cover;
}

/* styles the introductory text */
.header__intro {
  color: var(--color-text);
  font-size: 1.8rem;
  font-weight: bold;
  background-color: #FFE45E80;
  border-radius: 6rem;
  padding: 2rem;
}

/* <<< end header */

/* >>> start main */
/* styles the sections of the page */
.section {
  background: rgb(227, 242, 253);
  background: linear-gradient(180deg, rgba(227, 242, 253, 1) 16%, rgba(255, 228, 94, 1) 100%);
  border-radius: 1rem;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.2);
  margin: 2rem 5%;
  max-width: 90%;
  padding: 1rem;
  text-align: center;
}

.section--card {
  background: radial-gradient(circle, rgba(227, 242, 253, 1) 16%, rgba(255, 228, 94, 1) 100%);
}

.product-card__heading {
  height: 5rem;
  padding-top: 1rem;
  text-transform: capitalize;
  font-variant: small-caps;
  text-decoration: none;
}

/* aligns (centers) the image of the product card */
.product-card__img img {
  width: 95%;
  margin: auto;
}

/* styles the "slogan" for the product card images, no <figcaption> because the slogan does not describe the image */
.product-card__img-text {
  background-color: #fff;
  color: var(--color-text-secondary);
  font-family: cursive, Arial, Helvetica, sans-serif;
  width: 95%;
  margin: auto;
}

/* arranges buttons in the product card */
.product-card__button-align {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* removes slides which will be displayed later (10seconds) through JavaScript 'shopping_gallery' */
.mySlidesAction,
.mySlidesRelax,
.mySlidesDiscover {
  position: relative;
}

/* >>> start Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 10s;
  animation-name: fade;
  animation-duration: 10s;
}

@-webkit-keyframes fade {
  from {
    opacity: .6
  }

  to {
    opacity: 1
  }
}

@keyframes fade {
  from {
    opacity: .6
  }

  to {
    opacity: 1
  }
}

/* <<< end Fading animation */
/* <<< end card */

/* >>> start button and menu*/
.button {
  /* position: relative; */
  background: rgb(237, 255, 236);
  background: radial-gradient(circle, rgba(237, 255, 236, 1) 0%, rgba(250, 149, 0, 1) 0%, rgba(235, 100, 36, 1) 54%);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border: none;
  font-size: 2rem;
  color: var(--color-button-text);
  padding: 1rem;
  margin: 1rem 0;
  width: 15rem;
  text-align: center;
  border-radius: 20px;
  overflow: hidden;
  cursor: pointer;
  text-decoration: none;
}

/* small button size for mobile first */
.button--mobile {
  width: 6rem;
}

/* button hidden on mobile first */
.button--show-desktop {
  display: none;
}

/* feedback to user that the element is a button */
.button:hover,
.button:focus {
  background: var(--color-button-selected);
}

/* feedback to user that the element is a link */
footer i:hover {
  color: var(--color-button-selected);
}

/* <<< end button and menu */

/* >>> start user rating testimonies */
/* gives color to positive user rated star */
.checked {
  color: orange;
}

/* groups user image with user name, occupation and rating together */
.user-header {
  display: flex;
  justify-content: space-evenly;
  margin-left: 5%;
  width: 90%;
}

/* defines the same size for all user images */
.user-img {
  border-radius: 50%;
  display: inline-block;
  height: 6rem;
  margin: 1rem 1rem;
  width: 6rem;
}

/* name of the user */
.user-name {
  font-size: 1.8rem;
  margin-bottom: 0.1rem;
}

/* user occupation */
.user-job {
  font-size: 1rem;
  margin: 0;
  padding: 0.5rem;
}

/* user quote */
.user-quote {
  font-size: 1.3rem;
  font-style: italic;
  height: 14.5rem;
  margin: 1rem 12% 1rem 12%;
}

/* <<< end user rating testimonies */

/* >>> start faq */
/* style heading for summary*/
summary h2,
summary h3 {
  display: inline-block;
}

.answer-faq {
  font-style: italic;
}

/* >> end faq */

/* >>> start about us */
/* groups the profile picture and the text together */
.profile-text {
  margin-left: 10%;
  width: 80%;
}

/* defines the size of the owners profile picture */
.profile-me {
  border-radius: 50%;
  float: left;
  height: 10rem;
  margin: 2rem 2rem 1rem 0;
  width: auto;
}

/* clears the float after the p element */
.clear-float-after:after {
  content: "";
  clear: both;
  display: table;
}

/* emphasizes the slogan */
.slogan {
  font-weight: bolder;
}

/* profile picture of the team */
.profile-team {
  margin: 2rem 2rem 1rem 0;
  border-radius: 10%;
  float: left;
}

/* <<< end about us */

/* >>> start contact us */
.contact-heading {
  font-weight: bolder;
  font-size: 2.2rem;
  list-style-type: none;
}

/* styles list items for contact */
.contact-text {
  font-style: italic;
  font-weight: normal;
  font-size: 1.4rem;
  list-style-type: none;
}

/* >>> end contact us */

/* >>> start footer */
footer {
  background-color: white;
  background-image: url(../images/frank-mckenna-eXHeq48Z-Q4-unsplash.webp);
  background-size: cover;
  margin: 1rem 0 0 0;
}

/* >>> start social media */
.social-media {
  padding-top: 2rem;
  margin: 2rem 0;
  font-size: 6rem;
  display: flex;
  justify-content: space-evenly;
}

/* color for social media icons */
.social-media i {
  color: var(--color-headings);
}

/* <<< end social media links */

/* copy right */
.copy {
  font-size: 1rem;
}

/* <<< end footer */

/* >>> start more_info page */
.include-all {
  margin: auto;
  width: fit-content;
  text-align: left;
}

.new-bullet {
  list-style: url(../images/icons/thumbs-up-icon-24.png);
}

.pack-image img {
  width: 95%;
  margin: auto;
  border-radius: 2rem;
}

table {
  width: 95%;
  margin: 2.5%;
  margin-bottom: 1rem;
  border-collapse: collapse;
}

tr,
th,
td {
  font-size: 1.2rem;
  padding: 0.5rem;
}

th {
  padding-right: 1rem;
}

td {
  text-align: left;
  padding: 1rem;
  border-left: dashed var(--color-button-selected) 1px;
}

.table-border {
  border-top: dashed var(--color-button-selected) 1px;
  border-bottom: dashed var(--color-button-selected) 1px;
}

.price {
  color: var(--color-headings);
  font-weight: bold;
  font-size: 1.5rem;
  height: 3rem;
}

.flash {
  -webkit-animation-name: flash;
  -webkit-animation-duration: 1s;
  animation-name: flash;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  margin: 2rem 0;
}

@-webkit-keyframes flash {
  from {
    font-size: 1.5rem;
    opacity: .6
  }

  to {
    font-size: 1.6rem;
    opacity: 1
  }
}

@keyframes flash {
  from {
    font-size: 1.5rem;
    opacity: .6
  }

  to {
    font-size: 1.6rem;
    opacity: 1
  }
}

/* <<< end more_info page */

/* media queries do not take font size from the html element,
16px == 1em and not 62.5% == 10px == 1em */
/* at 400px == font size standard 16px == 25em */
/* @media screen and (min-width: 25em) { */

/* testimony, group user image with name, occupation tighter together */
/* .user-header {
    width: 60%;
    margin-left: 20%;
  }
} */

/* media queries do not take font size from the html element,
16px == 1em and not 62.5% == 10px == 1em */
/* at 600px == font size standard 16px == 37.5em */
@media screen and (min-width: 37.5em) {
  body {
    font-size: 1.8rem;
  }

  h1 {
    font-size: 8rem;
  }

  h2 {
    font-size: 4rem;
  }

  summary h2 {
    font-size: 4rem;
  }

  h3 {
    font-size: 3.5rem;
  }

  summary h3 {
    font-size: 3.5rem;
  }

  p {
    font-size: 2.8rem;
  }

  .header__intro {
    font-size: 2rem;
  }

  /* hide element when screen expanse */
  .hide-desktop {
    display: none;
  }

  /* shows element when screen expanse */
  .button--show-desktop {
    display: inline-block;
    margin-top: 0;
  }

  /* changes nav bar elements to inline-block, they are not inside the hamburger any more */
  .nav-bar__hamburger {
    /* is needed otherwise elements do not appear */
    display: inline-block;
    /* is needed otherwise background dose not float behind navbar */
    float: left;
    position: static;
    top: 5rem;
    overflow: auto;
    z-index: 1;
    list-style: none;
    box-shadow: none;
    background-color: transparent;
    width: 100%;
    margin-top: 1.5rem;
    height: auto;
  }

  .nav-bar__hamburger li {
    display: inline-block;
    margin: 0.5rem;
  }

  .nav-bar__hamburger li:first-child {
    display: inline-block;
    margin-left: 0rem;
  }

  .nav-bar__hamburger .button {
    width: auto;
    font-size: 1.3rem;
    /* margin: auto; */
  }

  .float-left {
    float: left;
    margin-left: 1rem;
  }

  /* spaces cards horizontal even */
  .product-card {
    display: flex;
    justify-content: space-evenly;
  }

  /* spaces card elements vertical even */
  #action_pack {
    width: 30%;
    min-width: 16.2rem;
    display: inline-block;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  /* spaces card elements vertical even */
  #relax_pack {
    width: 30%;
    min-width: 16.2rem;
    display: inline-block;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  /* spaces card elements vertical even */
  #discover_pack {
    width: 30%;
    min-width: 16.2rem;
    display: inline-block;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  /* increase height of the heading when text becomes bigger */
  .product-card__heading {
    height: 6rem;
    font-size: 2rem;
  }

  /* testimony, group user image with name, occupation tighter together */
  .user-header {
    width: 40%;
    margin-left: 30%;
  }

  .user-job {
    font-size: 2rem;
  }

  .user-quote {
    font-size: 3rem;
    height: 52rem;
  }

  /* groups the profile picture and the text together */
  .profile-text {
    width: 70%;
    margin-left: 15%;
  }

  /* >>> start contact us */
  .contact>li {
    font-size: 3rem;
  }

  /* styles list items for contact */
  .contact>li>ul>li {
    font-size: 2rem;
  }

  .copy p {
    font-size: 1.5rem;
  }

  tr,
  th,
  td {
    border-collapse: collapse;
    font-size: 2rem;
    padding: 2rem;
  }

  @-webkit-keyframes flash {
    from {
      font-size: 2.5rem;
      opacity: .6
    }

    to {
      font-size: 2.6rem;
      opacity: 1
    }
  }

  @keyframes flash {
    from {
      font-size: 2.5rem;
      opacity: .6
    }

    to {
      font-size: 2.6rem;
      opacity: 1
    }
  }
}

/* media queries do not take font size from the html element,
16px == 1em and not 62.5% == 10px == 1em */
/* breakpoint for desktop 3 column at 720px == font size standard 16px == 45em */
@media screen and (min-width: 45em) {

  .nav-bar__hamburger {
    width: 90%;
    margin-left: 5%;
  }

  .nav-bar__hamburger .button {
    font-size: 1.6rem;
  }

  .product-card__heading {
    height: 9rem;
    font-size: 3.5rem;
  }

  .user-quote {
    height: 42rem;
  }
}

/* media queries do not take font size from the html element,
16px == 1em and not 62.5% == 10px == 1em */
/* at 1020px == font size standard 16px == 63.75em */
@media screen and (min-width: 63.75em) {
  body {
    font-size: 1.8rem;
  }

  h1 {
    font-size: 8rem;
  }

  h2 {
    font-size: 4rem;
    letter-spacing: 1.5rem;
  }


  .header__intro {
    width: fit-content;
    margin: auto;
  }

  .user-quote {
    height: 28rem;
  }

  /* changes table size on wider screens */
  table {
    width: 80%;
    margin-left: 10%;
  }

  th {
    font-size: 3rem;
  }

  /* increase height of the heading when text becomes bigger */
  .product-card__heading {
    height: 10rem;
    font-size: 3.5rem;
    letter-spacing: 1rem;
  }

  /* groups the profile picture and the text together */
  .profile-text {
    width: 60%;
    margin-left: 20%;
  }
}